h1{gap: 50px;font-size: medium;word-spacing: 70px;}
h2{text-align: center;color: rgb(8, 133, 8);background: rgb(0, 255, 128);font-family: Georgia, 'Times New Roman', Times, serif;}
h6{.container;text-align: right;}